* {
    padding: 0;
    margin: 0;
}
 

svg {
    width: 90px;
    stroke: #fff;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);

    animation-name: animate;
    animation-duration: 0.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes animate {
    0% {
        filter: drop-shadow(0px 0px 1px #fff)
        drop-shadow(0px 0px 3px #fff)
        drop-shadow(0px 0px 10px #ff80b3)
        drop-shadow(0px 0px 30px #ff4d94)
        drop-shadow(0px 0px 50px #ff0066);
    }

    100% {
        filter: drop-shadow(0px 0px 3px #fff)
        drop-shadow(0px 0px 6px #fff)
        drop-shadow(0px 0px 15px #ff80b3)
        drop-shadow(0px 0px 40px #ff4d94)
        drop-shadow(0px 0px 60px #ff0066);
    }
}
